.container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  text-align: center;
}
#color-box {
  width: 1000px;
  height: 800px;
  background-color: cadetblue;
}
#change-color-btn {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  background-color: hsl(56, 84%, 24%);
  color: darkkhaki;
}
